<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>具名Slot 给Slot元素指定一个name后可以分发多个内容</title>
</head>
<body>
<div id="app">
  <child-component>
    <h2 slot="header">标题头</h2>
    <p>正文内容</p>
    <p>更多内容</p>
    <div slot="footer">底部信息</div>
  </child-component>
</div>
<script>
  Vue.component('child-component',{
      template:'\<div class="container">\
      <slot name="header"></slot>\
      </div>\
      <div class="main">\
      <slot></slot>\
      </div>\
      <div class="footer">\
      <slot name="footer"></slot>\
      </div>\
      </div>'
  });
  var app=new Vue({
    el:'#app'
  })
</script>
</body>
</html>
